@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1594624500174'); /* IE9 */
  src: url('iconfont.eot?t=1594624500174#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABqgAAAJ1AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBBIEXATYCJAMMCwgABCAFhG0HQRvoBcgusG3Yk0ABGTYG2+30JfAgHEXwtfbZb2Z2DwAUoPp1EoLlgVC4sCQ2IpJYmAgXzzr6rvb7fdXQdvoXxJOI5ZO993zPsOkkUtSUCBFCowEbcLDZKpOunvmi56Wwe1bI5B5cTn8UUCDzgHKZY/jYFCcY0FibIiuihDgV8Zpd5HECrSaNFLfuHl8XGgp7XCAuRQErNAoeRRHjzULdsLSIhyrN6Vb6jgfR9+OfRjRIqsyeuu3Mjiys/7R1Y70OBQgvAasrZCwpKMSRxsg+ZSGSylolle70WhHSUv6fiGOIaucPjySImp3bDuZYNPGTx8mkg/fUuRnUSdaUggZb0T9VGe3ofvnVzeetnbef3njWdtpjFpRRSUwc6PKO69vzm+uLu5ur28WLpPmpl+aLoHXDBjVF4yWxXehbHYOfyRdL/yAvpjeB4Mi7etJf+d9oK+BH/o80xfBos4TI/WXcgXXF4NvaXDSOx7Fs2fBEUwIsyW6d7ej1O10xcFux0Gwgg6TJBGTNptBCXIJKm2WoNdsArRbtrW7TxyqL0oIFLwSh2xcknb5B1u0bLcQfqAz6g1p3lKHVnujbss1MRK0tFplHCfwZIkG5cvW+FedfYnCfMpvnR+RbtC7yw+xkphzfwxztEjPcQzDnvQJlKYNdOg3TlEBbilH4Sei9XptOVdObJoKyQssWFmI8JAHuGYgIJKeC9l6r8vlLKHAvxdiOojrjLWQ5Uedg1sTMAHRPkg8qepRXnAeBOZ6nAMUiGbBLg1AqRYBuHhRDgjcRTghpa6ZOMzVUMtlelv1AtliGfUWOFDmKfFzKIWcO0yjHsUjJBW79VCgAAAAA') format('woff2'),
  url('iconfont.woff?t=1594624500174') format('woff'),
  url('iconfont.ttf?t=1594624500174') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1594624500174#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon-add:before {
  content: "\e6b9";
}

.icon-baseline-close-px:before {
  content: "\e615";
}

