* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
}

html,body{
    width: 100%;
    background-color: #ecedf0;
}
.le_comps_core_css{
    padding: 0 23px;
}
.le_list_breadcrumb_pannel{
    height: 40px;
    line-height: 40px;
} 
.le_list_breadcrumb_pannel a{
    color: #84848d;
}
.le_list_breadcrumb_pannel a b{
    color: #333333;
}
/* 一行放俩个 */
.le_comps_core_css .col1{
    width: 25%;
    display: flex;
    flex-direction: row;
      /* align-items: baseline; */
      align-items: center;
}

/* 一行放俩个 */
.le_comps_core_css .col2{
    width: 50%;
    display: flex;
    flex-direction: row;
      /* align-items: baseline; */
      align-items: center;
}

/* 一行放3个 */
.le_comps_core_css .col3 {
    width: 75%;
    display: flex;
    flex-direction: row;
    /* align-items: baseline; */
    align-items: center;
}

/* 一行放4个 */
.le_comps_core_css .col4 {
    width: 100%;
    display: flex;
    flex-direction: row;
      /* align-items: baseline; */
    align-items: center;
}

/* 页面名称 */
.le_comps_core_css .pageName{
    font-size: 16px;
    text-align: left;
    padding: 10px 22px;
    border-bottom: 1px solid #eae4e4;
}

.le_comps_core_css .le_page_name{
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    padding: 10px 22px;
    border-bottom: 1px solid #eae4e4;
    padding-left: 0px;
}

/* .le_form_row  .le_form_row_item 是为了把单加的button和前面的组件放到一行上*/
.le_comps_core_css .le_form_row_item .form-item {
    width: 300px;
}

.le_comps_core_css .le_form_row_item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.le_comps_core_css .le_form_row {
    flex: 1;
}

.le_comps_core_css .le_form_row_item .label_msg {
    margin-left: 26px;
}

.le_comps_core_css .le_form_row_item >>> .required::before {
    position: relative;
}

.le_comps_core_css .le_full_width{
    width:100%
}

.le_comps_core_css .clearfix:after {
    content: ".";
    display: block;
    height: auto;
    clear: both;
    visibility: hidden
}

/* 新建页面的按钮和所有搜索处按钮 */
.le_comps_core_css .le_search_btn_group {
    margin-bottom: 10px;
    text-align: right;
    padding: 0 20px;
    margin-top: 10px;
    /* margin-top: -30px; */
}

.le_comps_core_css .le_new_page_btn_group{
    text-align: center;
    padding-top: 20px;
    /* 修改新建页面 底部新建与取消按钮 */
    margin-bottom: 50px;
}

.le_comps_core_css .le_list_search_pannel{
    background-color: #ffffff;
	box-shadow: 3px 0px 12px 0px 
		rgba(112, 112, 112, 0.2);
    border: solid 1px #c9c9cb;
    padding: 36px ;
    padding-top: 22px;
    padding-bottom: 0px;
}

.le_comps_core_css .le_list_search_pannel::after{
    height:1px;
}

.le_comps_core_css .second-level h1 {
    padding: 12px 0;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, .12);
}

/* 组件后面显示的提示信息 */
.le_comps_core_css .le_form_row_item .warning{
    height: 18px;
    line-height: 18px;
    margin: 0;
    font-size: 12px;
    color: #f56c6c;
}

.le_comps_core_css .readonlyIcon{
    cursor: not-allowed !important;
}

.le_comps_core_css input::-webkit-input-placeholder { /* WebKit browsers */
    color: #b7b8bb;
    font-size: 14px;
}
.le_comps_core_css input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #b7b8bb;
    font-size: 14px;
}
.le_comps_core_css input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #b7b8bb;
    font-size: 14px;
}
.le_comps_core_css input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #b7b8bb;
    font-size: 14px;
}

.le_comps_core_css textarea::-webkit-input-placeholder{
    color: #b7b8bb;
    font-size: 14px;
}
.le_comps_core_css textarea::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color: #b7b8bb;
    font-size: 14px;
}
.le_comps_core_css textarea:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color: #b7b8bb;
    font-size: 14px;
}
.le_comps_core_css textarea:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color: #b7b8bb;
    font-size: 14px;
}

/* 想让dialog中的组件能按照form中样式，但是有不需要form组件的时候，就写上这个样式就行 */
.le_comps_core_css .form-item{
    text-align: left;
    margin:0 0 22px 0;
    line-height: normal;
    position: relative;
    display: inline-block;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.le_comps_core_css .form-item .form-item-label{
    text-align: right;
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    color: #606266;
    line-height: normal;
    padding: 0;
    box-sizing: border-box;
    margin: 0 5px 0 10px;
    font-weight: bold;
    word-break: break-word;
}

.le_comps_core_css .form-item .form-item-div{
    display: inline-block;
    line-height: normal;
    vertical-align: text-bottom;
    position: relative;
    flex: 1;
    background-color: #fff;
}

.le_comps_core_css .required::before{
    content: "*";
    color: #f56c6c;
    font-size: 12px;
    margin-right: 2px;
}

.le_comps_core_css .form-item .promptMsg{
    font-size: 12px;
    color: #f56c6c;
    line-height: 20px;
    text-align: left;
    position: absolute;
    margin: 0;
    bottom: -20px;
}

.le_comps_core_css .form-item .tip{
    font-size: 12px;
    color: #3ea5d2;
    line-height: 20px;
    text-align: left;
    position: absolute;
    margin: 0;
    bottom: -20px;
}

.le_comps_core_css .form-item .form-item-div .readonlyIcon{
    background-color: #f1f1f1;
}

.le_comps_core_css .form-item .form-item-div .readonlyIcon:focus{
    background-color: #f1f1f1;
    border-color: #dcdfe6;
}

.le_comps_core_css .fa-times-circle-o .form-item-input{
    border: 1px solid #f56c6c;
}
.le_comps_core_css .fa-check-circle-o .form-item-input{ 
    border: 1px solid #67c23a;
}

.le_comps_core_css .fa.fa-times-circle-o{
    position: relative;
}

.le_comps_core_css .fa.fa-check-circle-o{
    position: relative;
}

.le_comps_core_css .middleClass {
    margin-left: 10px !important;
}

.le_comps_core_css .warning {
    color: red;
}