html,body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,legend,input,select,textarea,button,th,td{margin:0;padding:0;} 
html,body{font-family: "微软雅黑";font-size: 14px;color: #333;}
ul,dl,ol,li{list-style:none;} 
a{text-decoration: none;color: #333;text-indent: 0px;cursor: pointer;}
img,input{border:0;outline: none;}
img{max-width: 100%;max-height: 100%;}
.clearfix:before,.clearfix:after{content: " ";display: block;height: 0;clear: both;visibility: hidden}
.clearfix{zoom: 1;}
.fr{float: right;}
.fl{float: left;}
.mt10{margin-top: 10px;}
.mb10{margin-bottom: 10px;}
.mr10{margin-right: 10px;}
.ml10{margin-left: 10px;}
table{border-collapse:collapse;border-spacing:0;} 
button{outline: none;border: 0;}
input{border-radius: 0;}
button, input, select, textarea {background-color: transparent;border-style: none;}

